<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh" th:lang="#{lang}" th:fragment="layout">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdnjs.loli.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.loli.net/ajax/libs/timelinejs/3.6.6/js/timeline.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.loli.net/ajax/libs/timelinejs/3.6.6/css/timeline.min.css" />
    <script src="/js/timeline.js"></script>
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="/css/default.css" />
    <title><span th:include=":: #page-title" th:remove="tag"></span> - [[#{page.title}]]</title>
</head>
<body>
<div id="page-header">
    <div id="page-header-top">
        <div id="page-header-logo"><a th:href="@{/}"><img src="/img/icon.jpg" alt="番剧时间表" th:alt="#{page.title}" /></a></div>
        <div id="page-header-welcome" th:text="#{page.welcome}">番剧时间表</div>
        <div id="page-header-account">
            <a th:text="#{account.login}" th:href="@{/login}" th:unless="${user.userId != null}">登录</a>
            <a th:text="#{account.signup}" th:href="@{/signup}" th:unless="${user.userId != null}">注册</a>
            <span th:text="${user.userId}" th:if="${user.userId != null}">USER</span>
            <a th:text="#{account.logout}" th:href="@{/logout}" th:if="${user.userId != null}">登出</a>
        </div>
    </div>

    <nav id="navbar">
        <a th:href="@{/}" th:text="#{page.home}">首页</a>
        <a th:href="@{/index}" th:text="#{bangumi}">番剧</a>
        <a th:href="@{/index?origin=1003}" th:text="#{origin.1003}">原创</a>
        <a th:href="@{/index?origin=1002}" th:text="#{origin.1002}">小说改</a>
        <a th:href="@{/index?origin=1001}" th:text="#{origin.1001}">漫画改</a>
        <a th:href="@{/stats}" th:text="#{stats}">统计</a>
    </nav>

    <div class="client-message" id="msg-browser-incompatible" th:text="#{error.client.incompatible}"></div>
</div>

<div id="page-main-container">
    <main id="page-main" th:include=":: #page-content"></main>
</div>
</body>
</html>