<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh" th:lang="#{lang}" th:fragment="layout">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/default.css" />
    <script src="https://cdnjs.loli.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/app.js"></script>
    <title><span th:include=":: #page-title" th:remove="tag"></span> - [[#{page.title}]]</title>
</head>
<body>
<div id="page-header">
    <div id="page-header-top">
        <div id="page-header-logo"><a th:href="@{/}"><img src="/img/icon.jpg" alt="电影网" th:alt="#{page.title}" /></a></div>
        <div id="page-header-welcome" th:text="#{page.welcome}">欢迎来到电影网！</div>
        <div id="page-header-account">
            <a th:text="#{account.login}" th:href="@{/login}" th:unless="${user.userId != null}">登录</a>
            <a th:text="#{account.signup}" th:href="@{/signup}" th:unless="${user.userId != null}">注册</a>
            <span th:text="${user.userId}" th:if="${user.userId != null}">
                USER <span th:if="${user.isVip}">([[#{account.vip}]])</span>
            </span>
            <a id="account-subscribe" href="#" th:text="#{account.vip.subscribe}" th:if="${user.userId != null && !user.isVip}">开通 VIP</a>
            <a th:text="#{account.logout}" th:href="@{/logout}" th:if="${user.userId != null}">登出</a>
            <div class="client-message" id="msg-subscribe-confirm" th:text="#{account.vip.subscribe.confirm}">是否要开通 VIP？</div>
        </div>
    </div>

    <nav id="navbar">
        <a th:href="@{/}" th:text="#{page.home}">首页</a>
        <a th:href="@{/index}" th:text="#{movie}">电影</a>
        <a th:href="@{/index?region=1002}" th:text="#{region.hong_kong}">港台</a>
        <a th:href="@{/index?region=1003}" th:text="#{region.western}">欧美</a>
        <a th:href="@{/index?region=1001}" th:text="#{region.mainland}">内地</a>
        <a th:href="@{/stats}" th:text="#{stats}">统计</a>
    </nav>

    <div class="client-message" id="msg-browser-incompatible" th:text="#{error.client.incompatible}"></div>
</div>

<div id="page-main-container">
    <main id="page-main" th:include=":: #page-content"></main>
</div>
</body>
</html>