#welcome {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}

#inputAccount,
#inputPassword {
    margin-top: 20px;
    margin-left: 650px;
    width: 360px;
    height: 20px;
}

#inputAccount a,
#inputPassword a {
    display: inline-block;
    width: 50px;
    height: 20px;
}

#inputAccount input,
#inputPassword input {
    display: inline-block;
    width: 300px;
    height: 20px;
}

#loginButton {
    margin-top: 20px;
    width: 50px;
    margin-left: 820px;
}
