#search {
    width: 2000px;
    height: 30px;
    margin-top: 10px;
}

#searchFilm {
    width: 400px;
    height: 30px;
    margin-left: 600px;
}

#searchButton {
    margin-left: 10px;
    background-color: #469cb6;
    height: 30px;
    width: 50px;
}

#selection2 {
    margin-left: 70px;
}

#selection2 table tr td {
    width: 100px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
}

#selection2 table tr td:not(:first-child):hover {
    background-color: aquamarine;
}

#showFilmTable {
    margin-left: 30px;
    margin-top: 10px;
}
