<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="/fragments/layout.html :: layout" lang="zh" th:lang="#{lang}">
<head>
    <title id="page-title">[[${bangumi.name}]]</title>
</head>
<body>
<main id="page-content">
    <header id="detail">
        <div id="detail-bg">
            <div th:style="${'background-image: url(/img/bangumi/' + bangumi.picture + ');'}"></div>
        </div>
        <div id="detail-infobox">
            <img src="/img/null.png" alt="番剧名称" th:src="${'/img/bangumi/' + bangumi.picture}" th:alt="${bangumi.name}" />
            <div id="detail-infobox-entries">
                <div id="detail-infobox-name" th:text="${bangumi.name}">番剧名称</div>
                <div th:each="scope : ${types}">
                    <span th:text="#{${'scope.' + scope.key}}">大类</span>
                    <span th:each="type : ${scope.value}" th:text="${type.name}">类型</span>
                </div>
                <div>
                    <span th:text="#{date}">日期</span>
                    <span th:text="${#dates.format(bangumi.date, 'yyyy-MM-dd')}">2024-01-20</span>
                </div>
            </div>
        </div>
    </header>
    <div id="timeline-container" style="width: 100%; height: 360px;"></div>
    <script>
        const currentDateTime = new Date();
        const id = new URLSearchParams(window.location.search).get("id");
        createTimeline(`/api/index_episode?bangumiId=${id}`, "timeline-container", currentDateTime, null, 2, true);
    </script>
    <section id="detail-summary">
        <p th:utext="${bangumi.description}">这是简介。</p>
    </section>
</main>
</body>
</html>