<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="/fragments/layout.html :: layout" lang="zh" th:lang="#{lang}">
<head>
    <title id="page-title">[[#{page.home}]]</title>
</head>
<body>
<main id="page-content">
<div id="banner">
    <img src="/img/banner1.jpg" alt="横幅" />
</div>
<div id="rank-list-container">
    <div class="rank-list-group">
        <div id="rank-list-overview" th:text="#{rank.overview}">全部排行</div>
        <div id="rank-list-weekly" th:text="#{rank.weekly}">本周排行</div>
    </div>
    <div class="rank-list-group">
        <div id="rank-list-monthly" th:text="#{rank.monthly}">本月排行</div>
        <div id="rank-list-review" th:text="#{rank.review}">好评排行</div>
    </div>
</div>
</main>
</body>
</html>