<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="/fragments/layout.html :: layout" lang="zh">
<head>
    <title id="page-title">电影排行—电影网</title>
</head>
<body>
<main id="page-content">
<div id="banner">
    <img src="/img/banner1.jpg" alt="横幅" />
</div>
<div id="rank-list-container">
    <div class="rank-list-group">
        <div id="rank-list-overview">全部排行</div>
        <div id="rank-list-weekly">本周排行</div>
    </div>
    <div class="rank-list-group">
        <div id="rank-list-monthly">本月排行</div>
        <div id="rank-list-likes">好评排行</div>
    </div>
</div>
</main>
</body>
</html>