<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="/fragments/layout.html :: layout" lang="zh" th:lang="#{lang}">
<head>
    <title id="page-title">[[#{page.home}]]</title>
</head>
<body>
<main id="page-content">
    <div id="timeline-container" style="width: 100%; height: 480px;"></div>
    <script src="/js/main_timeline.js"></script>
    <div id="rank-list-container" class="flex-list">
        <div class="flex-list">
            <div>
                <div style="background-color: #f84;" th:text="#{rank.overview}">全部排行</div>
                <ol>
                    <li th:each="bangumi : ${overallRankingList}">
                        <div>
                            <a th:text="${bangumi.name}" th:title="${bangumi.name}" th:href="@{/bangumiDetail(id=${bangumi.bangumiId})}"></a>
                            <span th:text="${bangumi.totalHeat}"></span>
                        </div>
                    </li>
                </ol>
            </div>
            <div>
                <div style="background-color: #af2;" th:text="#{rank.weekly}">本周排行</div>
                <ol>
                    <li th:each="bangumi : ${weeklyRankingList}">
                        <div>
                            <a th:text="${bangumi.name}" th:title="${bangumi.name}" th:href="@{/bangumiDetail(id=${bangumi.bangumiId})}"></a>
                            <span th:text="${bangumi.weeklyHeat}"></span>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="flex-list">
            <div>
                <div style="background-color: #6fd;" th:text="#{rank.monthly}">本季排行</div>
                <ol>
                    <li th:each="bangumi : ${monthlyRankingList}">
                        <div>
                            <a th:text="${bangumi.name}" th:title="${bangumi.name}" th:href="@{/bangumiDetail(id=${bangumi.bangumiId})}"></a>
                            <span th:text="${bangumi.monthlyHeat}"></span>
                        </div>
                    </li>
                </ol>
            </div>
            <div>
                <div style="background-color: #ace;" th:text="#{rank.review}">好评排行</div>
                <ol>
                    <li th:each="bangumi : ${reviewRankingList}">
                        <div>
                            <a th:text="${bangumi.name}" th:title="${bangumi.name}" th:href="@{/bangumiDetail(id=${bangumi.bangumiId})}"></a>
                            <span th:text="${bangumi.rating}"></span>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</main>
</body>
</html>