<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="/fragments/layout.html :: layout" lang="zh" th:lang="#{lang}">
<head>
    <title id="page-title">[[#{page.index}]]</title>
</head>
<body>
<main id="page-content">
    <form id="index-filter-container">
        <div id="search-box-container">
            <input type="search" name="keyword" class="search-box" />
            <input type="submit" value="搜索" th:value="#{search}" class="search-button" />
        </div>
        <table id="index-filters">
            <tr>
                <td style="color: #a62;" th:text="#{rank}">排行</td>
                <td>
                    <div class="flex-list">
                        <label>
                            <input type="radio" name="sort" value="weekly_heat" />
                            <span th:text="#{rank.weekly}">本周排行</span>
                        </label>
                        <label>
                            <input type="radio" name="sort" value="monthly_heat" />
                            <span th:text="#{rank.monthly}">本月排行</span>
                        </label>
                        <label>
                            <input type="radio" name="sort" value="rating" />
                            <span th:text="#{rank.review}">好评排行</span>
                        </label>
                        <label>
                            <input type="radio" name="sort" value="total_heat" checked />
                            <span th:text="#{rank.overview}">全部排行</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr th:each="scope : ${types}">
                <td style="color: #4a4;" th:text="#{${'scope.' + scope.key}}">大类</td>
                <td>
                    <div class="flex-list">
                        <label th:each="type : ${scope.value}">
                            <input type="checkbox" th:name="${'type' + scope.key}" th:value="${type.typeId}" />
                            <span th:text="${type.name}">类型</span>
                        </label>
                    </div>
                </td>
            </tr>
        </table>
        <div id="index-pager">
            <a href="#" id="pager-first-page">首页</a>
            <a href="#" id="pager-prev-page">上一页</a>
            <input id="pager-current-page" name="page" type="number" value="1" />
            <span>/</span>
            <span id="pager-total-pages">1</span>
            <a href="#" id="pager-next-page">下一页</a>
            <a href="#" id="pager-last-page">尾页</a>
        </div>
    </form>

    <div id="index-list-container">
        <ul id="index-list" class="grid-list"
            style="grid-template-columns: repeat(auto-fill, minmax(240px, max-content))">

        </ul>
        <script src="/js/index_pager.js"></script>
    </div>
</main>
</body>
</html>