<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="/fragments/layout.html :: layout" lang="zh" th:lang="#{lang}">
<head>
    <title id="page-title">[[#{account.login}]]</title>
</head>
<body>
<main id="page-content">
    <form method="post" id="login-form">
        <div id="welcome" th:text="#{account.login.welcome}">欢迎登录电影网</div>
        <table>
            <tr>
                <td><label for="account" th:text="#{account}">账户</label></td>
                <td><input type="text" id="account" name="account" /></td>
            </tr>
            <tr>
                <td><label for="password" th:text="#{account.password}">密码</label></td>
                <td><input type="password" id="password" name="password" /></td>
            </tr>
        </table>
        <input type="submit" class="button-submit" value="登录" th:value="#{account.login}" />
    </form>
</main>
</body>
</html>