<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/css/rank.css">
    <script type="text/javascript" src="/static/js/jquery-1.4.2.js"></script>
    <title>电影排行—电影网</title>
</head>
<body>
<div id="top" th:insert="top.html"></div>

<div id="showFilmBanner" >
    <img src="/static/img/banner1.jpg">
</div>

<div id="rank">
    <div id="allRank">全部排行</div>
    <div id="weekRank">本周排行</div>
    <div id="monthRank">本月排行</div>
    <div id="commentRank">好评排行</div>
</div>

</body>
</html>