<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/css/show.css">
    <script type="text/javascript" src="/static/js/jquery-1.4.2.js"></script>
    <title>电影展示—电影网</title>
</head>
<body>
<div id="top" th:insert="top.html"></div>

    <div id="search">
        <input type="text" id="searchFilm">
        <button id="searchButton">搜索</button>
    </div>

    <div id="selection2">
       <table>
           <tr>
               <td id="rank" style="color: coral;background-color: gainsboro">电影排行</td>
               <td>本周排行</td>
               <td>本月排行</td>
               <td>好评排行</td>
               <td>全部排行</td>

           </tr>
           <tr>
               <td id="type" style="color: #59ce52;background-color:  gainsboro">按类型</td>
               <td>爱情</td>
               <td>动作</td>
               <td>喜剧</td>
               <td>惊悚</td>
               <td>恐怖</td>
               <td>悬疑</td>
               <td>科幻</td>
               <td>动画</td>
           </tr>
           <tr>
               <td id="region" style="color: #006464;background-color:  gainsboro">按地区</td>
               <td>内地</td>
               <td>港台</td>
               <td>欧美</td>
           </tr>
           <tr>
               <td id="genre" style="color: darkkhaki;background-color:  gainsboro">按电影体裁</td>
               <td>抗日</td>
               <td>间谍</td>
               <td>硬汉</td>
               <td>枪战</td>
               <td>杀手</td>
               <td>穿越</td>
           </tr>
       </table>
    </div>

    <div id="showFilm">
        <table id="showFilmTable">
            <tr>
                <td>
                    <div><img src="/static/img/film/movie1.png"></div>
                    <a href="filmDetail.html">匆匆那年</a>
                </td>
                <td>
                    <div><img src="/static/img/film/movie1.png"></div>
                    <a>匆匆那年</a>
                </td>
                <td>
                    <div><img src="/static/img/film/movie1.png"></div>
                    <a>匆匆那年</a>
                </td>
                <td>
                    <div><img src="/static/img/film/movie1.png"></div>
                    <a>匆匆那年</a>
                </td>
            </tr>
        </table>
    </div>


</body>
</html>